.chart-box {
    width: 400px;
    min-height: 400px;
}
.new-label {
    color: red;
    font-weight: bold;
    font-size: 12px;
    margin-left: 4px;
}
.chart-bar {
    width: 100%;
    min-height: 450px;
}